{% extends "base.html" %}
{% from "includes/macros.html" import field %}
{% block title %}{{ 'Edit' if sw else 'Add' }} Software - LicenseHubK12{% endblock %}
{% block content %}
<h1 class="h4 mb-3">{{ 'Edit' if sw else 'Add' }} Software</h1>
<div class="card">
  <div class="card-body">
    <form method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="row">
        {{ field(form.name, "col-md-6") }}
        {{ field(form.vendor_id, "col-md-6") }}
        {{ field(form.category_id, "col-md-6") }}
        {{ field(form.license_count, "col-md-6") }}
        {{ field(form.status, "col-md-4") }}
        {{ field(form.start_date, "col-md-4") }}
        {{ field(form.expiration_date, "col-md-4") }}
        {{ field(form.renewal_date, "col-md-6") }}
        {{ field(form.po_number, "col-md-6") }}
        {{ field(form.support_url, "col-md-6") }}
        {{ field(form.login_url, "col-md-6") }}
        {{ field(form.description, "col-12") }}
        {{ field(form.notes, "col-12") }}
      </div>
      <p class="text-muted small mb-3">License type, annual cost, contract number and vendor contact are set per-contract{% if sw %} - see Contracts below{% else %}, once this software has been created{% endif %}.</p>
      <div class="d-flex gap-2">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('licenses.list_software') }}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
