{% extends "base_bare.html" %}
{% from "includes/macros.html" import field %}
{% block title %}Set new password - LicenseHubK12{% endblock %}
{% block content %}
<div class="card login-card shadow-lg">
  <div class="card-body p-4">
    <h1 class="h5 mb-3">Choose a new password</h1>
    <form method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ field(form.password) }}
      {{ field(form.confirm_password) }}
      {{ form.submit(class="btn btn-primary w-100") }}
    </form>
  </div>
</div>
{% endblock %}
